<html>
<head></head>
<body>

<hr/>

<table border="0" cellpadding="0" cellspacing="0" width="500">
    <tbody>
        <tr>
            <td height="64" style="font-family:Montserrat, serif, EmojiFont; font-size:11pt; font-style:bold;">
                <p>Freundliche Grüße</p>
            </td>
        </tr>
        <tr>
            <td height="64" style="font-family:Montserrat, serif, EmojiFont; font-size:11pt; font-style:bold;">
                <span style="color:rgb(167,11,116);">%%FirstName%% %%LastName%% | </span><span style="color:rgb(194,196,202)">%%Department%%</span>
            </td>
        </tr>
        <tr>
            <td border="0" cellpadding="0" cellspacing="0" height="38" width="222">
                <a href="https://lean-coders.at/">
                    <img src="https://raw.githubusercontent.com/Lean-Coders/branding/master/logo-magenta-ci/Logo_Magenta.png" style="width: 300px;" />
                </a>
            </td>
        </tr>
       
        <tr>
        <td height="58" style="font-family:Montserrat, serif, EmojiFont; font-size:9pt; color:rgb(194,196,202)">
            <p>Lean-Coders® GmbH</p>
            <p>%%Street%%</p> 
            <p>%%ZipCode%% %%City%%</p>
            <p>%%MobileNumber%%</p>
        </td>
        </tr>
        <tr>
            <td class="hover" height="60" style="font-family:Montserrat, serif, EmojiFont; font-size:9pt; color:rgb(5,99,193)">
                <a href="mailto:%%Email%%" style="color:rgb(5,99,193)">%%Email%%</a>
            </td>   
        </tr>
        <tr>
        </tr>
        <tr>
            <td height="70">
                <small style="font-family:Montserrat, serif, EmojiFont; font-size: 9px; color:#4d4d4e;">This message and any attachment ("the Message") are confidential. If you have received the Message in error, please notify the sender immediately and delete the Message from your system, any use of the Message is forbidden. Correspondence via e-mail is primarily for information purposes. Lean-Coders® neither makes nor accepts legally binding statements via e-mail unless explicitly agreed otherwise. Information pursuant to § 14 Austrian Companies Code: Lean-Coders® GmbH; Registered Office: Am Euro Platz 2 – Gebäude G, Company Register Number: FN 483709mat the Commercial Court of Vienna (Handelsgericht Wien).</small>
            </td>
        </tr>
    </tbody>
    </table>
</body>
</html>

